<!DOCTYPE html>
<html ng-app="stories">
  <!--
    After the person has entered all the stories that he wants to,
    generate a random key that is both added to the database,
    and shown to the person so they can enter it in mturk.
  -->


  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="angular/angular.min.js" charset="utf-8"></script>
    <script src="angular/modules.js" charset="utf-8"></script>

    <script src="angular/services/imageData.js" charset="utf-8"></script>
    <script src="angular/services/storyData.js" charset="utf-8"></script>

    <script src="angular/controllers/mainController.js" charset="utf-8"></script>

    <script src="angular/app.js" charset="utf-8"></script>




    <!-- Bootstrap -->
    <link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="Ctrl">
    <div class="container well">
      <p>
        Write stories for the following pictures below. You may write as many
        or as little stories as you would like. The stories should provide
        a short narrative, and not just be a description of the picture.
      </p> <br>

      <p>
        For example, the first picture has a computer on a desk. A short
        narrative about that picture might be. He had just gone out to
        coffee, and left his computer there because he felt it was safe. As
        he lived on a school campus that was very safe. No one stole things.
      </p> <br>

      <p>
        If you ever want to stop writing stories, click the finish button.
      </p>
    </div>
    <div class="container" align="center">
      <div class="well">
        <table>
          <tr>
            <td>
              <button type="button" name="button" ng-click="prev()"><==</button>
            </td>
            <td>
              <div class="text-center well" style="background: red;" ng-show="allComplete">
                <h2>You have written all the narratives you can.</h2>
              </div>
              <div class="well" style="margin: auto">
                <img class="img-responsive center-block"
                     src="images/{{selected.name}}"
                     width="400" height="400" alt="">
              </div>
              <div class="well" ng-show="visible">
                <p>Write your own personal narrative about this image.</p>
                <textarea ng-model="story.text" name="story" rows="8" cols="80"></textarea><br>
                <button ng-click="submit()">Submit</button>
                <button ng-click="finish()">Finish</button>
              </div>

              <div class="text-center well" ng-show="!visible">
                <h2>You have written a story!!</h2>
              </div>
            </td>
            <td>
              <button type="button" name="button" ng-click="next()">==></button>
            </td>
          </tr>
        </table>
      </div>

    </div>



     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <!-- Include all compiled plugins (below), or include individual files as needed -->
     <script src="bootstap-3.3.7-dist/js/bootstrap.min.js"></script>
  </body>
</html>
